Hello!
 You’ve successfully changed the password for the Gooru account: User Name
The new password is ****abc.
If you would like to disable or delete this account at any point, please contact support@goorulearning.org 
 As always, Let us know if you have any questions!</div>
 Thanks!
 The Gooru Team
 http://www.facebook.com/gooru | http://www.twitter.com/gooru