Hello there!
We’re excited to welcome you and your student to the Gooru community! Now you both can get started discovering the best free K-12 education resources on the Web.  
As a parent you will be getting updates about your student’s Gooru account. 
Information your student has provided:
Username: ${gooruUserName}
Password: ${gooruUserPassword}
Birthday: ${encodedDateOfBirth}
Grade(s) and Course(s) interested in: Grade ${userGrade} , ${userCourse}
Your student’s first and last name will not be visible publicly anywhere on the Gooru website, only your student’s alias (their username) can be seen. Any content (collections) they make will be tied to their username. 
We will only use your student’s birthdate to know when they turn 13. On their 13th birthday, they will be allowed to have an independent account.  Until then, you can change their password by clicking ${serverpath}/gooru/index.g#!/change-password/${resetToken}, or by logging into their account, going into settings, and clicking the “reset password” link in the “security” tab. You can also disable their account at anytime by contacting us at support@goorulearning.org.
If you have any questions or issues, please contact us at support@goorulearning.org.</div>
Thanks!
The Gooru Team
http://www.facebook.com/gooru | http://www.twitter.com/gooru