Hi [username], 
[Owner-username] has added you as a collaborator on their ${flag}: [collectionOrQuizTitle].  
To start editing this ${flag}, click here. Remember you need to be logged in.  

Or, copy and paste this link into your browser window. 
www.goorulearning.org/collectionOrQuizId/edit

Happy Learning!
Gooru Team
