<html>
<body>
	<div style="background: url(${serverPath}/gooru/images/mail/greetings_border.png) no-repeat scroll 0 0 transparent;font-family: arial;width: 717px;color:#666;height:550px">
		<div style="height: 470px; margin-left: 30px;">
			<div>
				<img style="margin-top: 25px; margin-left: 0px;"
							src="${serverpath}/gooru/images/mail/greetings-from-gooru-g12345.png"></img></td>
			</div>
			<div>
				<img
					src='${serverpath}/gooru/images/mail/email_greertings_top_line.png'>
			</div>
			<div
				style="color: #666; width: 100%; font-size: 14px; float: left; margin-top: 30px;">
				Hello!
				<div style="margin-top: 20px;">
					<div>You’ve requested to change your password. </div>
					<div style="margin-top: 20px;">
					#if( ! $mailConfirmationUrl )
						#if( ! $gooruClassicUrl )
							<a style="color: #1076bb;text-decoration: none;"
								href="${serverpath}/gooru/index.g#!/change-password/${resetToken}">Click here to reset your password.</a>
						#else
							<a style="color: #1076bb;text-decoration: none;" href="${gooruClassicUrl}&resetToken=${resetToken}&callback=changePassword" target="_blank">Click here to reset your password.</a>
						#end
					#else
							<a style="color: #1076bb;text-decoration: none;" href="${mailConfirmationUrl}?resetToken=${resetToken}&callback=changePassword" target="_blank">Click here to reset your password.</a>
					#end
					<b>This link will expire in 24 hours.</b></div>
				</div>
				<div style="margin-top: 15px;">
					<div>If the above link does not work, copy and paste the URL below into your browser bar:</div>
					<div>
					
					#if( ! $mailConfirmationUrl )
							#if( ! $gooruClassicUrl )
								<a style="color: #1076bb;"
									href="${serverpath}/gooru/index.g#!/change-password/${resetToken}" target="_blank" > ${serverpath}/gooru/index.g#!/change-password/${resetToken} </a>
								#else
								<a style="color: #1076bb;" href="${gooruClassicUrl}&resetToken=${resetToken}&callback=changePassword" target="_blank" >${gooruClassicUrl}&resetToken=${resetToken}&callback=changePassword</a>
							#end
					#else
							<a style="color: #1076bb;text-decoration: none;" href="${mailConfirmationUrl}?resetToken=${resetToken}&callback=changePassword" target="_blank">${mailConfirmationUrl}?resetToken=${resetToken}&callback=changePassword</a>
					#end
					
					</div>
				</div>
				<div style="margin-top: 15px;">Please email <span style="color: #1076bb;">support@goorulearning.org</span> if you didn't request to change
					your password.</div>

				<div style="margin-top: 15px;">
					<div>The Gooru Team</div>
					<div>
						<a style="color: #1076bb;" href="http://www.facebook.com/gooru"
							target="_blank">Facebook</a> | <a style="color: #1076bb;"
							href="https://twitter.com/gooru" target="_blank">Twitter</a>
					</div>
				</div>

				<div style="margin-left: 135px; margin-top: 45px;">
					<img
						src='${serverpath}/gooru/images/mail/email_greetings_bottom_line.png'>
				</div>

				<div>
					<table style="margin-top: 15px;">
						<tr>
							<td>
								<div>
									<img style="width: 50px"
										src='${serverpath}/gooru/images/resources/web.png'>
								</div></td>
							<td>
								<div>
									<em style="font-size: 12px; color: #666">Gooru is a search
										engine for learning that harnesses the power of the web by
										organizing free, online education resources into searchable
										collections, accessible from any web or mobile platform. </em>

								</div></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div style="text-align: center; margin-top: 15px;">
			<div>
				<img src="${serverpath}/gooru/images/mail/footerGooru.png">
			</div>
			<div style="font-size: 10px; margin-top: 5px;">
				<em>Copyright 2012 Ednovo, All rights reserved.</em>
			</div>
		</div>
	</div>

</body>
</html>