
	Hello ${firstName}',
	
		You’ve requested to change your password. Click the link below to reset your password.Click on the link below to change your Gooru password:
		
		Click on the link below to change your Gooru password:
		
		#if( ! $mailConfirmationUrl )
				${serverpath}/gooru/index.g#!/change-password/${resetToken}
		#else
				${mailConfirmationUrl}?resetToken=${resetToken}&callback=changePassword
		#end
		
		If you didn't request to reset your password, please ignore this email. This link will expire in 24 hours.
		
		Thanks!
		The Gooru Team
		http://www.twitter.com/gooru | http://www.facebook.com/gooru
		
		
		Gooru is a search engine for learning that harnesses the power of the web by
		organizing free, online education resources into searchable collections, accessible from any web or mobile platform. 
		Copyright 2012 Ednovo, All rights reserved.
