
<html>
<body>
	<div
		style="font-family: arial;width: 717px;color:#666;height:550px">
		<div style="height: 470px; margin-left: 30px;">
			<div
				style="color: #666; width: 100%; font-size: 14px; float: left; margin-top: 30px;">
				Hello!
				<div style="margin-top: 20px;">
				    This email confirms your recent Gooru Account password change request for <b>${gooruUserName}</b>. 
				</div>
				
				#if( ! $mailConfirmationUrl )

					<div style="margin-top: 20px;">
					    If your Gooru password was changed without your knowledge, then please click the following link below to change it again:
					 </div>
					 
					 	<div style="margin-top: 20px;">
					 	
					 	
								#if( ! $gooruClassicUrl )
									<a style="color: #1076bb;text-decoration: none;" 
										href="${serverpath}/gooru/index.g#!/change-password/${resetToken}" target="_blank" >Click here to reset your password.</a>
								#else
									<a style="color: #1076bb;text-decoration: none;" href="${gooruClassicUrl}&resetToken=${resetToken}&callback=changePassword" target="_blank" >Click here to reset your password.</a>
								#end
					    
					   
						<b>This link will expire in 24 hours.</b>
					</div>
				#end
					
				<div style="margin-top: 15px;">
				     If you have any questions, please email support@goorulearning.org
</div>
				<div style="margin-top: 15px;">
					<div>Thanks!</div>
					<div>The Gooru Team</div>
					<div>
						<a style="color: #1076bb;" href="http://www.facebook.com/gooru"
							target="_blank">Facebook</a> | <a style="color: #1076bb;"
							href="https://twitter.com/gooru" target="_blank">Twitter</a>
					</div>
				</div>

			</div>
		</div>
		
	</div>

</body>
</html>
