
Hello! 

This email confirms your recent Gooru Account password change request for ${gooruUserName}. 

If your Gooru password was changed without your knowledge, then please click the following link below to change it again:

#if( ! $mailConfirmationUrl )

	${serverpath}/gooru/index.g#!/change-password/${resetToken}

#else
	${mailConfirmationUrl}?resetToken=${resetToken}&callback=changePassword
#end
If you have any questions, please email support@goorulearning.org

The Gooru team

Sincerely,
The Gooru Team
Facebook | Twitter





