
It's your birthday!

  The Gooru Team wishes you happy birthday filled with family,relations and lot of 
  birthday cakes.To celebrate your special day,we thought about singing you the birthday 
  song,but we decided to spare you that(there's a reason we work at Gooru and not as singers).
  Instead, we've created this fun little collection on the history of birthday celebrations to get you feeling festive. 
				 
  We hope you have a fantastic birthday!
  The Gooru Team
  http://www.facebook.com/gooru | http://www.twitter.com/gooru