 Welcome to Gooru! 
 Your account is now ready for use: 
 Keep this email for your records, as it contains important information about managing your account.
 The current password is . If you would like to change the account password, click   to change the password.
 support@goorulearning.org. 
 As always, Let us know if you have any questions!</div>
 Thanks!
 The Gooru Team
 http://www.facebook.com/gooru | http://www.twitter.com/gooru 
