
<html>
<body>
	<div
		style="font-family: arial;width: 717px;color:#666;height:550px">
		<div style="height: 470px; margin-left: 30px;">
			<div
				style="color: #666; width: 100%; font-size: 14px; float: left; margin-top: 30px;">
				Hello!
				<div style="margin-top: 20px;">
				   You or your child requested to change a Gooru account password. Click the link below to reset the password for: <b>${gooruUserName}</b> 
				</div>

				<div style="margin-top: 20px;">
					#if( ! $gooruClassicUrl )
						<a style="color: #1076bb;text-decoration: none;"
							href="${serverpath}/gooru/index.g#!/change-password/${resetToken}">Click here to reset your password.</a>
					#else
						<a style="color: #1076bb;text-decoration: none;" href="${gooruClassicUrl}&resetToken=${resetToken}&callback=changePassword" target="_blank">Click here to reset your password.</a>
					#end
				<b>This link will expire in 24 hours.</b></div>
				<div style="margin-top: 20px;">
							<div>If the above link does not work, copy and paste the URL below into your browser bar:</div>
									<div>
					#if( ! $gooruClassicUrl )
							<a style="color: #1076bb;"
							href="${serverpath}/gooru/index.g#!/change-password/${resetToken}" target="_blank" > ${serverpath}/gooru/index.g#!/change-password/${resetToken} </a>
						#else
							<a style="color: #1076bb;" href="${gooruClassicUrl}&resetToken=${resetToken}&callback=changePassword" target="_blank" >${gooruClassicUrl}&resetToken=${resetToken}&callback=changePassword</a>
						#end
				</div>
				<div style="margin-top: 15px;">Please email <span style="color: #1076bb;">support@goorulearning.org</span> if you didn't request to change
					your password.</div>
				<div style="margin-top: 15px;">
				     As always, Let us know if you have any questions!</div>
				<div style="margin-top: 15px;">
					<div>Thanks!</div>
					<div>The Gooru Team</div>
					<div>
						<a style="color: #1076bb;" href="http://www.facebook.com/gooru"
							target="_blank">Facebook</a> | <a style="color: #1076bb;"
							href="http://www.twitter.com/gooru" target="_blank">Twitter</a>
					</div>
				</div>

			</div>
		</div>
		
	</div>

</body>
</html>
