<html>
<body>
	<div
		style="font-family: arial;width: 900px;color:#666;height:550px">
		<div style="height: 470px; margin-left: 30px;">
				<div style="margin-top: 20px;">
				 Hi  ${gooruUserName} ,
				</div> 
				
				<div style="margin-top: 20px;">
				 ${Owner-Username} has added you as a collaborator on their ${flag}: ${collectionOrQuizTitle}. 
				 
				 <div> 
				 To start editing this ${flag}, click <a style="color: #1076bb;" href="${serverpath}/gooru/index.g#!/${flag}/${collectionOrQuizId}/edit" target="_blank">here</a>. 
				 Remember you need to be logged in.
				 </div>
				 
				</div>
                   
			   <div style="margin-top: 20px;">
			   Or, copy and paste this link into your browser window. 
			   <div>
			   <a style="color: #1076bb;" href="${serverpath}/gooru/index.g#!/${flag}/${collectionOrQuizId}/edit" target="_blank">${serverpath}/gooru/index.g#!/${flag}/${collectionOrQuizId}/edit</a>
			   </div> 
			   </div>
			   
			   <div style="margin-top: 20px;">
			   Happy Learning!
			   <div>
			   Gooru Team
			   </div>
			   </div>
			   
			   <div style="margin-top: 40px;">
			   Please contact support@goorulearning.org with any questions or concerns.
			   </div>
        </div>
		
	</div>

</body>
</html>
 
  