Hello there!,

    We’re excited to welcome you to the Gooru community! Now you can get started discovering and customizing the best free K-12 education resources on the Web. To complete your registration, simply click on the link below: 
    
    
    #if( ! $mailConfirmationUrl )
		    #if( ! $gooruClassicUrl )
		        ${serverpath}/gooru/index.g#!/user/registration/${userId}/session/${sessionId}/${encodedDateOfBirth}/type/${userAccountType}
		    #else
		        ${gooruClassicUrl}/#home&gooruuid=${userId}&sessionid=${sessionId}&dob=${encodedDateOfBirth}&type=${userAccountType}&callback=confirmUser
		    #end
	#else
				${mailConfirmationUrl}/partner-portal/mailconfirmation?gooruuid=${userId}&sessionid=${sessionId}&dob=${encodedDateOfBirth}&type=${userAccountType}&callback=confirmUser
    #end
    
    If you have any questions or issues, please contact us at support@goorulearning.org.

    
    Thanks!
    The Gooru Team
    http://www.twitter.com/gooru | http://www.facebook.com/gooru 

