<html>
<body>
	<div
		style="font-family: arial;width: 717px;color:#666;height:550px">
		<div style="height: 470px; margin-left: 30px;">
			<div
				style="color: #666; width: 100%; font-size: 14px; float: left; margin-top: 30px;">
				Hello there! 
				<div style="margin-top: 20px;">
					<div>We’re excited to welcome you to the Gooru community! Now you can get started discovering and customizing the best free K-12 education resources on the Web. To complete your registration, simply click on the link below:</div>
					<div>
					
					#if( ! $mailConfirmationUrl )
						#if( ! $gooruClassicUrl )
							<a style="color: #1076bb;" href="${serverpath}/gooru/index.g#!/user/registration/${userId}/session/${sessionId}/${encodedDateOfBirth}/type/${userAccountType}" target="_blank">Click Here to Complete Registration.</a>
						#else
							<a style="color: #1076bb;" href="${serverpath}/#home&gooruuid=${userId}&sessionid=${sessionId}&dob=${encodedDateOfBirth}&type=${userAccountType}&callback=confirmUser" target="_blank">Click Here to Complete Registration.</a>
						#end
				   #else
								<a style="color: #1076bb;" href="${mailConfirmationUrl}?gooruuid=${userId}&sessionid=${sessionId}&dob=${encodedDateOfBirth}&type=${userAccountType}&callback=confirmUser" target="_blank">Click Here to Complete Registration.</a>
				   #end
					</div>
				</div>
				<div style="margin-top: 15px;">If you have any questions or issues, please contact us at support@goorulearning.org.
				</div>

				<div style="margin-top: 15px;">
					<div>Thanks!</div>
					<div>The Gooru Team</div>
					<div>
						<a style="color: #1076bb;" href="http://www.facebook.com/gooru"
							target="_blank">Facebook</a> | <a style="color: #1076bb;"
							href="http://www.twitter.com/gooru" target="_blank">Twitter</a>
					</div>
				</div>

			</div>
		</div>
		
	</div>

</body>
</html>