
Hello Academic Operations Team,
${user.getFirstName()} ${user.getLastName()} requested to be a publisher on Gooru. Here are details about the user.
  

      Educational Background:${user.getUserRole().getDescription()}
      Network:${profile.getSchool()}
      Grade:${profile.getGrade()}
      Subject(s) :${profile.getSubject()}
      Collection Title :${collection.getLesson()}
      Collection Url : ${request.getScheme()}://${request.getServerName()}/gooru/index.g#!/collection/${collection.getGooruOid()}/play
      Message :${message}
   

    
      Network Information:
      Email : ${emailId}
      Website: ${profile.getWebsite()}
      Twitter: ${profile.getTwitter()}
      
	     Collection publish check list:

	     1) ${collectionCopyText}
	     2) Minimum 1 segment,  5 resources : ${minimumRequirementSatisfy}
	     3) Call out Private Resources
	        #foreach( $privateResource in $privateResourceList )
    			$foreach.count) $privateResource.resource.gooruOid
			#end
    
    
      STOP! Clicking this link ${request.getScheme()}://${request.getServerName()}/gooru/collection/${collection.getGooruOid()}/publish/request/accept.g will APPROVE this request. 
      The user will need to logout and login for the changes to come in effect.

      Thanks,
		
	  STOP! Clicking this link ${request.getScheme()}://${request.getServerName()}/gooru/collection/${collection.getGooruOid()}/publish/request/deny.g will Deny this request.   The user will need to logout and login for the changes to come in effect.
      
    Thanks,
    Your friendly mailing robot!
    
